# Removing specific png files
goal.png
goal?.png

# Removing specific html files
solution.html
solution?.html

# Removing specific json files
settings.json

# Removing specific folders
**/Solution

# Removing rough files
rough.html
rough.css